@import "./mixins.scss";

.app {
    display: flex;
    height: 100vh;
  }

  .content-wrapper {
    flex: 1; /* Allow the content to expand and fill remaining space */
    padding-left: 200px; /* Width of the sidebar */
  }

  @include md {
    .content-wrapper {
      flex: 1; /* Allow the content to expand and fill remaining space */
      padding-left: 20px; /* Width of the sidebar */
    }
  }